* {
    box-sizing: border-box;
}

/* I feel that putting multiple selectors on one line makes code far more readable than on separate lines. Agree to disagree.  ;) */
img, embed, object, video {
    max-width: 100%;
}

body {
    background-color: #7e8d85;
    font-family: 'Shadows Into Light Two', cursive;
}

.container {
    background-color: #f0f7f4;
}

h1, h2 {
    color: #7e8d85;
    margin: 5px 0;
}

h3, h4 {
    color: #3c493f;
    margin: 5px 0;
}

.btmborder {
    border-bottom: 3px solid #3c493f;
}

.logo {
    max-width: 100px;
    padding-bottom: 5px;
}

.headerpad {
    padding-top: 10px;
}

a:link, a:visited {
    color: #7e8d85;
}

a:hover, a:active {
    color: #a2e3c4;
}

footer {
    background-color: #3c493f;
}

footer p, footer a:link, footer a:visited {
    color: #f0f7f4;
}

.footerpad {
    padding: 8px 0;
}

.portfolio {
    max-width: 340px;
}

@media screen and (max-width: 540px) {

    .header-pad {
        padding-top: 28px;
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {
    .headerpad {
        padding-top: 28px;
    }
}